@use "./../mixin/" as *;

.media-project {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: grid;
  will-change: transform;
  --progress: 0;
}

.media-project:nth-child(1) {
}

.media-project__inner {
  position: relative;
}

.media-project__frame {
  width: 50rem;
  max-width: 500px;
  aspect-ratio: 1/1;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

.media-project__text {
  position: absolute;
  top: 50%;
  left: calc(70% + (var(--translate-progress) * 35% * -1));

  translate: -50% -50%;
  rotate: calc(45deg * var(--rotate-progress));
}

.media-project__text__row {
  font-size: var(--font-size-7);
  font-weight: 700;
  text-align: end;
  line-height: 1;
  color: var(--black-1);
}

@include mq(sp) {
  .media-project {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100svh;
    display: grid;
    will-change: transform;
  }

  .media-project__inner {
    position: relative;
  }

  .media-project__frame {
    width: 28rem;
    aspect-ratio: 1/1;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
  }

  .media-project__text {
    position: absolute;
    top: 50%;
    left: calc(75% + (var(--translate-progress) * 50% * -1));

    translate: -50% -50%;
    rotate: calc(45deg * var(--rotate-progress));
  }

  .media-project__text__row {
    font-size: var(--font-size-7);
    font-weight: 700;
    text-align: end;
    line-height: 1;
    color: var(--black-1);
  }
}
